.App {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 412px;
  height: 732px;
  margin-top: 200px;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4000px;
  margin-left: 50px;
  justify-content: center;
}

li {
  list-style-type: none;
  display:flex;
  justify-content: center;
}


.image {
  margin: 10px;
  background-color: black;
  color: white;
}